{{- if eq .chezmoi.os "windows" -}}
# where to store the output file
$outputFile = "{{ .chezmoi.sourceDir }}/../systems/windows/all-modules.dsc.yaml"

# reset the output file if it exists
if (Test-Path $outputFile) {
    Remove-Item $outputFile
}

# add header to the output file
"# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
---
properties:
  configurationVersion: 0.2.0
  resources:" | Add-Content -Path $outputFile

function Add-Resources {
    param (
        [Parameter(Mandatory=$true)]
        [string] $File
    )

    Get-Content {{ .chezmoi.sourceDir }}/../$File `
        | Select-Object -Skip 5 `
        | Add-Content -Path $outputFile
}

# add all resources from DSC files
Add-Resources -File modules\archive\nanazip.dsc.yaml
Add-Resources -File modules\audio.ctrl\eartrumpet.dsc.yaml
Add-Resources -File modules\audio.trans\buzz.dsc.yaml
Add-Resources -File modules\certificate\mkcert.dsc.yaml
Add-Resources -File modules\clipboard\pastebar.dsc.yaml
Add-Resources -File modules\clipboard\yank.dsc.yaml
Add-Resources -File modules\compare\bcomp.dsc.yaml
Add-Resources -File modules\db.dev\heidisql.dsc.yaml
Add-Resources -File modules\db.dev\ssms.dsc.yaml
Add-Resources -File modules\db.dev\tableplus.dsc.yaml
Add-Resources -File modules\dddmodel\dust3d.dsc.yaml
Add-Resources -File modules\dddmodel\shapr3d.dsc.yaml
Add-Resources -File modules\desk.win\altsnap.dsc.yaml
Add-Resources -File modules\desk.win\komorebi.dsc.yaml
Add-Resources -File modules\desk.win\link-shell-extension.dsc.yaml
Add-Resources -File modules\desk.win\lockhunter.dsc.yaml
Add-Resources -File modules\desk.win\nilesoft-shell.dsc.yaml
Add-Resources -File modules\desk.win\quicklook.dsc.yaml
Add-Resources -File modules\dev.auto\bazel.dsc.yaml
Add-Resources -File modules\dev.cloud\replit.dsc.yaml
Add-Resources -File modules\dev.framework\extism.dsc.yaml
Add-Resources -File modules\dev.framework\tauri.dsc.yaml
Add-Resources -File modules\dev.help\tldr.dsc.yaml
Add-Resources -File modules\dev.help\zeal.dsc.yaml
Add-Resources -File modules\dev.info\cloc.dsc.yaml
Add-Resources -File modules\dev.prof\perfetto.dsc.yaml
Add-Resources -File modules\dev.prof\perfview.dsc.yaml
Add-Resources -File modules\dev.reverse\resource-hacker.dsc.yaml
Add-Resources -File modules\dev.tool\devtoys.dsc.yaml
Add-Resources -File modules\dev.train\exercism.dsc.yaml
Add-Resources -File modules\diagram\drawio.dsc.yaml
Add-Resources -File modules\disk.image\balenaetcher.dsc.yaml
Add-Resources -File modules\disk.image\ntlite.dsc.yaml
Add-Resources -File modules\disk.usage\dua.dsc.yaml
Add-Resources -File modules\disk.usage\wiztree.dsc.yaml
Add-Resources -File modules\duplicate\dupeguru.dsc.yaml
Add-Resources -File modules\ebook\calibre.dsc.yaml
Add-Resources -File modules\ebook\readest.dsc.yaml
Add-Resources -File modules\file.crypt\rage.dsc.yaml
Add-Resources -File modules\file.list\everything.dsc.yaml
Add-Resources -File modules\file.list\eza.dsc.yaml
Add-Resources -File modules\file.list\tre.dsc.yaml
Add-Resources -File modules\file.list\vivid.dsc.yaml
Add-Resources -File modules\file.mgmt\altap-salamander.dsc.yaml
Add-Resources -File modules\file.mgmt\multicommander.dsc.yaml
Add-Resources -File modules\file.mgmt\spacedrive.dsc.yaml
Add-Resources -File modules\file.mgmt\yazi.dsc.yaml
Add-Resources -File modules\file.mon\watchman.dsc.yaml
Add-Resources -File modules\file.org\chezmoi.dsc.yaml
Add-Resources -File modules\file.search\dngrep.dsc.yaml
Add-Resources -File modules\file.search\rg.dsc.yaml
Add-Resources -File modules\file.search\sg.dsc.yaml
Add-Resources -File modules\file.sync\rclone.dsc.yaml
Add-Resources -File modules\flashcard\anki.dsc.yaml
Add-Resources -File modules\ft.bash\shellcheck.dsc.yaml
Add-Resources -File modules\ft.bash\shfmt.dsc.yaml
Add-Resources -File modules\ft.bicep\bicep.dsc.yaml
Add-Resources -File modules\ft.cs\dotnet.dsc.yaml
Add-Resources -File modules\ft.cs\ilspy.dsc.yaml
Add-Resources -File modules\ft.cs\linqpad.dsc.yaml
Add-Resources -File modules\ft.cs\nuget-package-explorer.dsc.yaml
Add-Resources -File modules\ft.cs\nuget.dsc.yaml
Add-Resources -File modules\ft.cs\structuredlogviewer.dsc.yaml
Add-Resources -File modules\ft.d2\d2.dsc.yaml
Add-Resources -File modules\ft.elixir\livebook.dsc.yaml
Add-Resources -File modules\ft.erlang\erlang.dsc.yaml
Add-Resources -File modules\ft.gleam\gleam.dsc.yaml
Add-Resources -File modules\ft.go\go.dsc.yaml
Add-Resources -File modules\ft.html\responsively.dsc.yaml
Add-Resources -File modules\ft.html\tailwindcss.dsc.yaml
Add-Resources -File modules\ft.javascript\bun.dsc.yaml
Add-Resources -File modules\ft.javascript\deno.dsc.yaml
Add-Resources -File modules\ft.javascript\pnpm.dsc.yaml
Add-Resources -File modules\ft.javascript\quick-lint-js.dsc.yaml
Add-Resources -File modules\ft.just\just.dsc.yaml
Add-Resources -File modules\ft.lua\lua-language-server.dsc.yaml
Add-Resources -File modules\ft.markdown\markdown-oxide.dsc.yaml
Add-Resources -File modules\ft.nu\nu.dsc.yaml
Add-Resources -File modules\ft.php\php.dsc.yaml
Add-Resources -File modules\ft.ps1\gsudo.dsc.yaml
Add-Resources -File modules\ft.ps1\pwsh.dsc.yaml
Add-Resources -File modules\ft.python\python.dsc.yaml
Add-Resources -File modules\ft.python\ruff.dsc.yaml
Add-Resources -File modules\ft.python\uv.dsc.yaml
Add-Resources -File modules\ft.ruby\ruby.dsc.yaml
Add-Resources -File modules\ft.rust\rustup.dsc.yaml
Add-Resources -File modules\ft.tex\miktex.dsc.yaml
Add-Resources -File modules\ft.toml\taplo.dsc.yaml
Add-Resources -File modules\ft.typst\typst.dsc.yaml
Add-Resources -File modules\ft.typst\typstyle.dsc.yaml
Add-Resources -File modules\ft.winbatch\clink.dsc.yaml
Add-Resources -File modules\ft.zig\zig.dsc.yaml
Add-Resources -File modules\game.chess\en-croissant.dsc.yaml
Add-Resources -File modules\game.steam\steam.dsc.yaml
Add-Resources -File modules\gen.img\comfyui.dsc.yaml
Add-Resources -File modules\gen.llm\ollama.dsc.yaml
Add-Resources -File modules\hex.edit\010-editor.dsc.yaml
Add-Resources -File modules\hex.edit\hxd.dsc.yaml
Add-Resources -File modules\hex.view\hexyl.dsc.yaml
Add-Resources -File modules\img.edit\imagemagick.dsc.yaml
Add-Resources -File modules\img.lib\exiftool.dsc.yaml
Add-Resources -File modules\img.view\chafa.dsc.yaml
Add-Resources -File modules\img.view\honeyview.dsc.yaml
Add-Resources -File modules\img.view\imageglass.dsc.yaml
Add-Resources -File modules\input.hotkey\whkd.dsc.yaml
Add-Resources -File modules\input.mouse\masir.dsc.yaml
Add-Resources -File modules\launch\flow-launcher.dsc.yaml
Add-Resources -File modules\mail.test\papercut.dsc.yaml
Add-Resources -File modules\media.conv\ffmpeg.dsc.yaml
Add-Resources -File modules\media.conv\file-converter.dsc.yaml
Add-Resources -File modules\media.conv\fileoptimizer.dsc.yaml
Add-Resources -File modules\media.conv\handbrake.dsc.yaml
Add-Resources -File modules\media.conv\mkvtoolnix.dsc.yaml
Add-Resources -File modules\media.play\mpv.dsc.yaml
Add-Resources -File modules\media.play\plex.dsc.yaml
Add-Resources -File modules\media.play\potplayer.dsc.yaml
Add-Resources -File modules\mobile\intel-unison.dsc.yaml
Add-Resources -File modules\mobile\kdeconnect.dsc.yaml
Add-Resources -File modules\msg.discord\discord.dsc.yaml
Add-Resources -File modules\msg.discord\dorion.dsc.yaml
Add-Resources -File modules\msg.discord\overlayed.dsc.yaml
Add-Resources -File modules\msg.keybase\keybase.dsc.yaml
Add-Resources -File modules\msg.team\slack.dsc.yaml
Add-Resources -File modules\msg.team\teams.dsc.yaml
Add-Resources -File modules\msg.uni\ferdium.dsc.yaml
Add-Resources -File modules\multitool\coreutils.dsc.yaml
Add-Resources -File modules\multitool\nirsoft.dsc.yaml
Add-Resources -File modules\multitool\powertoys.dsc.yaml
Add-Resources -File modules\multitool\sysinternals.dsc.yaml
Add-Resources -File modules\music.lib\picard.dsc.yaml
Add-Resources -File modules\music.play\musicbee.dsc.yaml
Add-Resources -File modules\net.desk\easyconnect.dsc.yaml
Add-Resources -File modules\net.disc\advanced-ip-scanner.dsc.yaml
Add-Resources -File modules\net.disc\ipscan.dsc.yaml
Add-Resources -File modules\net.disc\networkmanager.dsc.yaml
Add-Resources -File modules\net.disc\nmap.dsc.yaml
Add-Resources -File modules\net.mon\io-ninja.dsc.yaml
Add-Resources -File modules\net.mon\netmon.dsc.yaml
Add-Resources -File modules\net.vpn\tailscale.dsc.yaml
Add-Resources -File modules\net.wol\wol.dsc.yaml
Add-Resources -File modules\notes.md\glow.dsc.yaml
Add-Resources -File modules\notes.md\markscribe.dsc.yaml
Add-Resources -File modules\notes.md\obsidian.dsc.yaml
Add-Resources -File modules\office\office.dsc.yaml
Add-Resources -File modules\paint\firealpaca.dsc.yaml
Add-Resources -File modules\paint\krita.dsc.yaml
Add-Resources -File modules\paint\paintdotnet.dsc.yaml
Add-Resources -File modules\pdf.edit\pdfsam.dsc.yaml
Add-Resources -File modules\pdf.view\sumatrapdf.dsc.yaml
Add-Resources -File modules\pkg\mise.dsc.yaml
Add-Resources -File modules\pkg\unigetui.dsc.yaml
Add-Resources -File modules\pkg\winget.dsc.yaml
Add-Resources -File modules\platform.azure\az.dsc.yaml
Add-Resources -File modules\platform.azure\azd.dsc.yaml
Add-Resources -File modules\platform.azure\aztfexport.dsc.yaml
Add-Resources -File modules\platform.azure\azure-storage-emulator.dsc.yaml
Add-Resources -File modules\platform.azure\azure-storage-explorer.dsc.yaml
Add-Resources -File modules\platform.azure\func.dsc.yaml
Add-Resources -File modules\platform.dagger\dagger.dsc.yaml
Add-Resources -File modules\platform.temporal\temporal.dsc.yaml
Add-Resources -File modules\print\bullzip.dsc.yaml
Add-Resources -File modules\recipe\paprika.dsc.yaml
Add-Resources -File modules\rice.fonts\default.dsc.yaml
Add-Resources -File modules\screen.bright\twinkle-tray.dsc.yaml
Add-Resources -File modules\screen.rec\screentogif.dsc.yaml
Add-Resources -File modules\screen.rec\vhs.dsc.yaml
Add-Resources -File modules\screen.shot\sharex.dsc.yaml
Add-Resources -File modules\sec.mgmt\doppler.dsc.yaml
Add-Resources -File modules\sec.mgmt\keeper.dsc.yaml
Add-Resources -File modules\sec.mgmt\op.dsc.yaml
Add-Resources -File modules\sh.hist\mcfly.dsc.yaml
Add-Resources -File modules\sh.lib\fzf.dsc.yaml
Add-Resources -File modules\sh.lib\gum.dsc.yaml
Add-Resources -File modules\sh.lib\jq.dsc.yaml
Add-Resources -File modules\sh.mgmt\aliae.dsc.yaml
Add-Resources -File modules\sh.mgmt\carapace.dsc.yaml
Add-Resources -File modules\sh.mgmt\direnv.dsc.yaml
Add-Resources -File modules\sh.nav\zoxide.dsc.yaml
Add-Resources -File modules\sh.pager\bat.dsc.yaml
Add-Resources -File modules\sh.pager\less.dsc.yaml
Add-Resources -File modules\sh.prompt\starship.dsc.yaml
Add-Resources -File modules\sys.info\fastfetch.dsc.yaml
Add-Resources -File modules\sys.info\hwinfo.dsc.yaml
Add-Resources -File modules\sys.mon\btm.dsc.yaml
Add-Resources -File modules\sys.mon\procs.dsc.yaml
Add-Resources -File modules\sys.mon\watch.dsc.yaml
Add-Resources -File modules\term.ansi\sequin.dsc.yaml
Add-Resources -File modules\term.emu\wezterm.dsc.yaml
Add-Resources -File modules\term.emu\wt.dsc.yaml
Add-Resources -File modules\todo\linear.dsc.yaml
Add-Resources -File modules\todo\super-productivity.dsc.yaml
Add-Resources -File modules\txt.edit\code.dsc.yaml
Add-Resources -File modules\txt.edit\cursor.dsc.yaml
Add-Resources -File modules\txt.edit\devenv.dsc.yaml
Add-Resources -File modules\txt.edit\jetbrains.dsc.yaml
Add-Resources -File modules\txt.edit\nvim.dsc.yaml
Add-Resources -File modules\txt.edit\vim.dsc.yaml
Add-Resources -File modules\txt.proc\dos2unix.dsc.yaml
Add-Resources -File modules\txt.proc\sd.dsc.yaml
Add-Resources -File modules\ui.auto\appium.dsc.yaml
Add-Resources -File modules\vc.forge\tea.dsc.yaml
Add-Resources -File modules\vc.git\delta.dsc.yaml
Add-Resources -File modules\vc.git\git-lfs.dsc.yaml
Add-Resources -File modules\vc.git\git.dsc.yaml
Add-Resources -File modules\vc.hook\lefthook.dsc.yaml
Add-Resources -File modules\vc.ui\gitbutler.dsc.yaml
Add-Resources -File modules\vc.ui\gource.dsc.yaml
Add-Resources -File modules\vc.ui\lazygit.dsc.yaml
Add-Resources -File modules\video.conf\zoom.dsc.yaml
Add-Resources -File modules\virt.docker\ddev.dsc.yaml
Add-Resources -File modules\virt.docker\docker.dsc.yaml
Add-Resources -File modules\virt.docker\lazydocker.dsc.yaml
Add-Resources -File modules\virt.kube\helm.dsc.yaml
Add-Resources -File modules\virt.kube\kubectl.dsc.yaml
Add-Resources -File modules\virt.kube\minikube.dsc.yaml
Add-Resources -File modules\virt.lab\automatedlab.dsc.yaml
Add-Resources -File modules\virt.other\wsl.dsc.yaml
Add-Resources -File modules\web.browse\arc.dsc.yaml
Add-Resources -File modules\web.browse\mullvad.dsc.yaml
Add-Resources -File modules\web.browse\thorium.dsc.yaml
Add-Resources -File modules\web.dl\wget.dsc.yaml
Add-Resources -File modules\web.http\hurl.dsc.yaml
Add-Resources -File modules\web.srv\miniserve.dsc.yaml
Add-Resources -File systems\windows\default.dsc.yaml

# configure with WinGet
gsudo winget configure --file $outputFile --accept-configuration-agreements --suppress-initial-details --open-logs --ignore-warnings

# modify Chromium shortcut
$startMenuPath = [System.Environment]::GetFolderPath("StartMenu")
$chromiumShortcut = "$startMenuPath\Programs\Thorium.lnk"
if (Test-Path $chromiumShortcut) {
    $shell = New-Object -ComObject WScript.Shell
    $shortcut = $shell.CreateShortcut($chromiumShortcut)
    if ($shortcut.Arguments -NotMatch "--remote-debugging-port=9222") {
        Write-Output "Modifying Chromium shortcut"
        $shortcut.Arguments = "$($shortcut.Arguments) --remote-debugging-port=9222 -- `"%1`""
        $shortcut.Save()
        Write-Output ""
    }
}
{{- end -}}
